numpy==2.3.5
packaging==25.0
pillow==12.0.0
protobuf==5.29.5
pyasn1==0.6.1
pyparsing==3.2.5
pytz==2025.2
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.6.1
